---
---

@import "{{ site.theme }}";

h1 {
    color: #eee;
}

.project-tagline {
    color: #cc584c;
}

.page-header {
    background-color: #0B202B;
    background-image: url("/assets/images/logo1glossy.png");
    background-repeat: no-repeat;
    background-position: center;
}

.main-content h1 {
    color: #cc584c;
}
.main-content h2 {
    color: #cc584c;
}
.main-content h3 {
    color: #cc584c;
}
.main-content h4 {
    color: #cc584c;
}
.main-content h5 {
    color: #cc584c;
}

a {
    color: #263740;
    text-decoration: underline;
}

/* To center images */
.center {
    text-align: center;
}